<UserRegistration
  @userId={{this.user}}
/>

{{#bingo-board user=this.user}}
  {{outlet}}
{{/bingo-board}}

<footer class="footer">
  {{#if this.isLocal}}
    {{#new-board class="new-board no-print" role="button"}}New board{{/new-board}}
  {{/if}}
  <a class="github-link no-print" href="https://github.com/allthesignals/okc-viva-las-sisu">Github</a>
  <p class="display-none print-only">github.com/ksin/ember-bingo</p>
</footer>
