<header class="header">
  <img src="/images/app/vls-logo.png" alt="" class="ui small centered logo image">
</header>

{{#bingo-board}}
  {{outlet}}
{{/bingo-board}}

<footer class="footer">
  {{#new-board class="new-board no-print" role="button"}}New board{{/new-board}}
  <a class="github-link no-print" href="https://github.com/ksin/ember-bingo">Github</a>
  <p class="display-none print-only">github.com/ksin/ember-bingo</p>
</footer>
